    <nav>
      <div class="app-title">
        <a href="/"><h1>Basic Informational Site</h1></a>
        <h2>A back-end project using Node.js</h2>
      </div>
      <ul>
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/create">Create</a></li>
      </ul>
    </nav>