<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin B.I.S. | <%= title %></title>
  </head> -->

  <!-- USING A "PARTIAL" instead of hardcoding above code-->
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- <nav>
      <div class="app-title">
        <a href="/"><h1>Basic Informational Site</h1></a>
        <p>A back-end project...</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/information/create">New Information</a></li>
      </ul>
    </nav> -->

    <!-- USING A "PARTIAL" instead of hardcoding above code-->
    <%- include('./partials/nav.ejs') %>

    <div class="contact content">
      <h2>Contact Information</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
        odio vitae vestibulum. Fusce volutpat sem vel felis facilisis, ut
        faucibus nisi laoreet.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
